<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">
                    Mis datos
                    <p>(No editables)</p>
                </h2>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div>
                        Nombre Completo
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                    value="{{usuario.nombre}} {{usuario.apellidos}}">
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        Matricula
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.matricula}}">
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        Contraseña
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.password}}">
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        CURP
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.CURP}}">
                            </div>
                        </fieldset>
                    </div>
                    <div>
                        Licenciatura
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" class="form-control" value="{{usuario.licenciatura}}">
                            </div>
                        </fieldset>
                    </div>
                    <div>
                        Correo
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="email" class="form-control" value="{{usuario.correo}}">
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <a href="/informacion/password">¿Cambiar Contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">
                    Informacion Academica
                    <p>(editable)</p>
                </h2>
            </div>

            <div class="card">
                <div class="card-body text-center">
                    <form action="/informacion/editar?_method=PUT" method="post">
                        <input type="hidden" name="_method" value="PUT">
                        <div>
                            CVU
                            <fieldset>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="CVU" value="{{usuario.CVU}}">
                                </div>
                            </fieldset>
                        </div>
                        <div>
                            Maestria
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="maestria" value="{{usuario.maestria}}">
                                </div>
                            </fieldset>
                        </div>
                        <div>
                            Doctorado
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="doctorado" value="{{usuario.doctorado}}">
                                </div>
                            </fieldset>
                        </div>
                        <div>
                            Especialidad
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="especialidad" value="{{usuario.especialidad}}">
                                </div>
                            </fieldset>
                        </div>
                        <div>
                            RFC
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control"name="RFC" value="{{usuario.RFC}}">
                                </div>
                            </fieldset>
                        </div>

                        <div>
                            Numero de contacto
                            <fieldset>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="telefono" value="{{usuario.telefono}}">
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" type="submit">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>